trigger:
  - main   # change branch if needed

pool:
  vmImage: 'ubuntu-latest'

variables:
  jarName: 'studentmanagement-0.0.1-SNAPSHOT.jar'
  remotePath: '/home/azureuser/app'   # change if needed

steps:

  # ===============================
  # STEP 1 - Build JAR
  # ===============================
  - script: |
      chmod +x mvnw
      ./mvnw clean package -DskipTests
    displayName: 'Build Spring Boot JAR'

  # ===============================
  # STEP 2 - Copy JAR to Azure VM
  # ===============================
  - task: CopyFilesOverSSH@0
    inputs:
      sshEndpoint: 'AzureVM-SSH'     # Your SSH service connection name
      sourceFolder: '$(System.DefaultWorkingDirectory)/target'
      contents: '$(jarName)'
      targetFolder: '$(remotePath)'
      cleanTargetFolder: false
    displayName: 'Copy JAR to Azure VM'

  # ===============================
  # STEP 3 - Stop Old App (if running)
  # ===============================
  - task: SSH@0
    inputs:
      sshEndpoint: 'AzureVM-SSH'
      runOptions: 'commands'
      commands: |
        pkill -f $(jarName) || true
    displayName: 'Stop Old Application'

  # ===============================
  # STEP 4 - Start Application
  # ===============================
  - task: SSH@0
    inputs:
      sshEndpoint: 'AzureVM-SSH'
      runOptions: 'commands'
      commands: |
        cd $(remotePath)
        nohup java -jar $(jarName) > app.log 2>&1 &
    displayName: 'Start Application'